@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbars */
.scrollable {
  overflow-y: auto;
  max-height: 100vh;
}

.scrollable-preview {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
